*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

a{
    color: #2c0b86;
   text-decoration: none;
}
 
.fondo{
    background-image: url(../imagenes/fondo-web.png);
    background-repeat:repeat;
}
.nav{
    width: 1200px;
}
.nav_lista{
    width: 1200px;
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    
    gap: 2rem;
    
}
.nav_enlace{
    color: #030202;
    text-decoration:none;
    text-transform:uppercase;
   font-style: italic;
}


h1{
    color: #310c21;
     font-size: 30px;
     font-style: normal;
     font-weight: normal;
     text-align:center;
     font-family: 'DM Serif Display', serif;
     text-decoration: overline;
}
h2{
    color: rgb(67, 54, 63);
     font-style:oblique;
    font-size: 25px;
    text-align: center;
}
h3{
    color: rgb(135, 108, 127);
    font-size: 25px;
    font-style: italic;
    text-align: center;
}
h4{
    color: #4c4747;
    text-align: center;
    font-style: italic;
}
p{
    color: #030202;
    font-size: 15px;
    font-style:normal;
    font-weight: 400;
    text-align:justify;
    line-height:normal;
}
.flex{
    border: 2px solid coral;
    padding: 1rem;
    display: flex;
    
}
.flex_hijo{
    color: #f8f7fa;
    text-align: center;
    line-height: 80px;
    padding: 10px;
    width: 100px;
    height: 100px;
    margin-left: 1rem;
}
.flex_hijo--1{
    background-color: #080306;
   
}


.flex_hijo--2{
    background-color: #030202;
}
.flex_hijo--3{
    background-color: #030202;
}
.flex_hijo--4{
    background-color: #030202;
}
.nombre{
    text-align: center;
}
.apellido{
    text-align: center;
}
.edad{
    text-align: center;
}
.e-mail{
    text-align: center;
}
.password{
    text-align: center;
}
.m-m{
    text-align: center;
}
.boton{
    text-align: center;
}
#conteItemsCarrusel{
    height: 400px;
    width: 300px;
   overflow: hidden;
   align-content: center;
   
}
.itemCarrusel{
    border: 1px solid black;
    height: 100%;
    position:relative;
    align-items: center;
}
.tarjetaCarrusel{
height: 100%;


}
.flechasCarrusel{
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    
}
.i{
    color: black;
}
#contePuntos{
    background-color:rgb(191, 190, 190);
    display: flex;
    justify-content:space-between;
    width:300px;
}
#contePuntos > a{
    font-size: 1.5em;
    font-style: none;
    color: #030202;
}
.imgCarrusel{
    width: 100%;
    height: 100%;
    
}
.footer{
    background-color: rgb(247, 219, 247);
    border: 0.5px solid beige;
    
}